#
/dev/ext
/dev/src/pkg-install
/dev/src/ae/ext
/dev/src/ae/src/ae/idl
/dev/src/ae/src/pkg-install
/dev/src/libcsc_codegenerator/templates/**/*.*
/dev/src/pxverbund/gitversioninfo.h
/dev/src/pxverbund/gitversioninfo.cpp
/dev/src/thrift_codegenerator/*.log
/export
*.APS
*.db
*.opendb
*.suo
*.sdf
*.user
*.qm
*.obj
*.idb
*.pdb
*.tlog
*.log
*.recipe
*.ilk
*.manifest
*.cache
*.lib
*.exe
*.txt
.vs/
ipch/
Debug/
Release/
DebugHipathNew/
ReleaseHipathNew/
WinDebug/
WinRel/
bin/
obj/
packages/
build/
cscservice_only/
**/gen-cpp/
**/gen-csharp/
/dev/src/libcsc_codegenerator/**/*.cpp
/dev/src/libcsc_codegenerator/**/*.h
/dev/src/libcsc_codegenerator/**/*.stub
/dev/src/libcsc_codegenerator/*.txt
/dev/src/libcsc_codegenerator/*.cs
