<?xml version="1.0" encoding="UTF-8"?>
<salesweblog>
	<logservice user="salesweblog" password="ST49fiUt" uri="urn:SalesWebLogServer"/>
	<serverlist>
		<server name="All Servers" location=""/>
		<server name="SalesWeb1" location="http://10.100.121.201:81/SalesWebLogService/SalesWebLogService.php"/>
		<server name="SalesWeb2" location="http://10.100.121.202:81/SalesWebLogService/SalesWebLogService.php"/>
		<server name="SalesWeb3" location="http://10.100.121.203:81/SalesWebLogService/SalesWebLogService.php"/>
		<server name="SalesWeb4" location="http://10.100.121.204:81/SalesWebLogService/SalesWebLogService.php"/>
		<server name="SalesWeb5" location="http://10.100.121.205:81/SalesWebLogService/SalesWebLogService.php"/>
		<server name="SalesWeb6" location="http://10.100.121.206:81/SalesWebLogService/SalesWebLogService.php"/>
		<server name="SalesWeb7" location="http://10.100.121.207:81/SalesWebLogService/SalesWebLogService.php"/>
		<server name="SalesWeb8" location="http://10.100.121.208:81/SalesWebLogService/SalesWebLogService.php"/>
	</serverlist>
	<logdatabases>
		<logdb name="ArticleCatalogue" dbname="swlog_hr_articlecatalogue_#DATE#_.db" dbnameerrors="swlog_hr_articlecatalogue_errors_#DATE#_.db"/>
		<logdb name="CheckOrderBuffer" dbname="swlog_hr_checkorderbuffer_#DATE#_.db" dbnameerrors="swlog_hr_checkorderbuffer_errors_#DATE#_.db"/>
		<logdb name="Invoices" dbname="swlog_hr_invoice_#DATE#_.db" dbnameerrors="swlog_hr_invoice_errors_#DATE#_.db"/>		
		<logdb name="Orders" dbname="swlog_hr_order_#DATE#_.db" dbnameerrors="swlog_hr_order_errors_#DATE#_.db"/>
	</logdatabases>
	<branchlist>
		<branch no="" name="All Branches"/>
		<branch no="71" name="Zagreb"/>
		<branch no="72" name="Osijek"/>
		<branch no="73" name="Split"/>
		<branch no="74" name="Rijeka"/>
		<branch no="77" name="Velika Gorica"/>
	</branchlist>
</salesweblog>